@{
  Layout = "_Layout";
}

@model Patisserie.Models.Treat

<h2>Which flavor of @Model.Type would you like?</h2>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.HiddenFor(model => model.Type)

  @Html.Label("Type")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-success">
}
<br/>
<h3>@Html.ActionLink($"Return to {Model.Type}'s info page", "Details", new { id = Model.TreatId})</h3>
<h3>@Html.ActionLink("+ new Flavor", "Create", "Flavors")</h3>