@{
  Layout = "_Layout";
}

@using Patisserie.Models

<div class="row pt-5">
  <h2>Pierre's Patisserie</h2>
  <h3>@Html.ActionLink("Sign In", "Account") or @Html.ActionLink("Register", "Account") to start buiding your own pastries!</h3>
  <hr/>
  <div class="container col-6">
    @if (ViewBag.Treats.Count == 0)
    {
      <h4>Add some treats! None listed.</h4>
      <br/>
       @if(User.Identity.IsAuthenticated)
       {
        <h4>@Html.ActionLink("+ your first Treat", "Create", "Treats")</h4>
       }
    }
    else
    {
      <h3>@Html.ActionLink("Treats:", "Index", "Treats")</h3>
      <br/>
      @foreach(Treat treat in @ViewBag.Treats)
      {
        <h4>@Html.ActionLink($"{treat.Type}", "Details", "Treats", new { id = treat.TreatId})</h4>
      }
      <br/>
      @if(User.Identity.IsAuthenticated)
      {
        <h4>@Html.ActionLink("+ Treat", "Create", "Treats")</h4>
      }

    }
  </div>
  <div class="container col-6">
      @if (ViewBag.Flavors.Count == 0)
      {
        <h4>You have no flavors to add to your treats!</h4>
        <br/>
        @if(User.Identity.IsAuthenticated)
        {
          <h4>@Html.ActionLink("+ your first Flavor", "Create", "Flavors")</h4>
        }
      }
      else
      {
        <h3>@Html.ActionLink("Flavors:", "Index", "Flavors")</h3>
        <br/>
        @foreach(Flavor flavor in @ViewBag.Flavors)
        {
          <h4>@Html.ActionLink($"{flavor.Type}", "Details", "Flavors", new { id = flavor.FlavorId})</h4>
        }
        <br/>
        @if(User.Identity.IsAuthenticated)
        {
          <h4>@Html.ActionLink("+ Flavor", "Create", "Flavors")</h4>
        }
      }
  </div>
</div>